.add-btn-cart{
    background-color: #4f372f;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &:hover {
        background-color:  #32231D;
    }
}

.less-btn-cart{     
    background-color: #4f372f;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: #ffffff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &:hover {
        background-color:  #32231D;
    }
}
.cart-list{
    margin-top: 1rem;
    display: flex;
    margin-bottom: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
    p{
        margin: 0;
    }
    
}
.button-group{
    gap: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center ;    
    p{
        margin: 1rem;;
        margin: 0;
    }
}